.form {
    width: 100%;
}

.form__title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 35px;
    color: #fff;
    margin-bottom: 20px;
    border-top: 2px solid #1abc9c;
    border-bottom: 2px solid #1abc9c;
    padding-top: 5px;
    padding-bottom: 5px;

}

.form__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.form__line {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form__block {
    width: 250px;
    margin: 0 20px;
}

.form__label {
    font-weight: 400;
    margin-bottom: 6px;
    color: #fff;
    font-family: 'Roboto';
}

.form__input {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 3px solid #1abc9c;
    outline: 0;
    transition: all 0.3s ease-in-out;
    padding-left: 5px;
    font-size: 15px;
    font-family: 'Roboto';
    margin-bottom: 10px;
}

.form__input:focus {
    border-color: #000;
}

.form .btn {
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}

.need__compte {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    color: #fff;

}
.fa-user-plus{
    color:#fff;
}

.fa-arrow-left{
    color: #1abc9c;
}

.inscription {
    font-weight: 600;
    text-decoration: none;
    margin-left: 5px;
    color: #1abc9c;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.inscription:hover {
    padding-bottom: 1px;
    border-color:#fff;
}

.resultat {

    align-items: center;
    justify-content: center;
}
.c {
    color: #fff;
}
.update {
    color: #1abc9c;
}


@media only screen and (max-width: 365px){
    .need__compte{
        font-size: 15px;
    }
    .form__block{
        width: 200px;
    }
}


@media only screen and (max-width: 350px)
{
    .need__compte{
        font-size: 13.5px;
    }
}
